@charset "utf-8";
/*css document*/

html {
  background-color:gray;
}
body {
  background-color:white;
  width:960px;
}
header {
  background-color:cornflowerblue;
  padding:25px;
}
nav {
  background-color:black;
  padding:20px;
  margin:25px;
  border-style:solid;
  border-color:red;
  border-width:5px;
  width:420px;
}
footer {
  background-color:orange;
  padding:15px;
  margin-top:20px;
}
h1 {
  color:white;
  font-size:48px;
}
p {
  margin:20px;
}
