@charset "UTF-8";
/* CSS DOCUMENT */

header {
  text-align:center;
  padding-top:35px;
  padding-bottom:15px;
}
nav {
  margin-top:20px;
}
nav ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
nav li {
  display:inline-block;
  border-left-style:solid;
  border-left-color:green;
  border-left-width:1px;
}
nav a {
  text-decoration:none;
  color:green;
  text-transform:uppercase;
  font-family:sans-serif;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;
  padding-right:10px;
}
.noborder {
  border:none;
}
nav a:hover {
  color:white;
  background-color:darkgoldenrod;
}
#hero {
  text-align:center;
  padding-top:200px;
  padding-bottom:200px;
  color:white;
  background-image:url(images/hero.png);
  background-size:cover;
}
h1 {
  text-transform:uppercase;
  font-size:46px;
  margin:0;
  font-family:sans-serif;
}
h2 {
  font-size:36px;
  margin:0;
  font-style:italic;
}
